@page "/Partidas/Edit/{PartidaId:int}"

@inject JugadoresService jugadoresService
@inject PartidasService partidasService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle> Editar Partida </PageTitle>

@if (Partida != null)
{
	<div class="container"> 
		<div class="card shadow-lg">
			<div class="card-header text-center text-white bg-info ">
				<h5> <strong> Editar Partida </strong> </h5>
			</div>

			<div class="card-body">
				<EditForm Model = "Partida" OnValidSubmit="EditarPartida"> 
					<DataAnnotationsValidator/>

					<div class="row">
						<div class="col-3">
							<label class="form-label mt-2" for="Jugador1Id"> <strong> Jugador 1ID:</strong> </label>
							<InputSelect class="form-control form-select" @bind-Value="Partida.Jugador1Id">
								<option> Seleccione un Jugador </option>
								@foreach (var jugador in ListaJugadores)
								{
									<option value="@jugador.JugadorId"> @jugador.Nombres</option>
								}
							</InputSelect>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label class="form-label mt-2" for="Jugador2Id"> <strong> Jugador 2ID:</strong> </label>
							<InputSelect class="form-control form-select" @bind-Value="Partida.Jugador2Id">
								<option> Seleccione un jugador </option>
								@foreach (var jugador in ListaJugadores)
								{
									<option value="@jugador.JugadorId"> @jugador.Nombres</option>
								}
							</InputSelect>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label class="form-label mt-2" for="GanadorId"> <strong> Ganador Id:</strong> </label>
							<InputSelect class="form-control form-select" @bind-Value="Partida.GanadorId">
								<option> Seleccione un jugador </option>
								@foreach (var jugador in ListaJugadores)
								{
									<option value="@jugador.JugadorId"> @jugador.Nombres</option>
								}
							</InputSelect>
						</div>
					</div>

					<div class="row">
						<div class="col-5">
							<label class="form-label mt-2" for="EstadoPartida"><strong> Estado Partida (Inactiva | En progreso | Finalizada): </strong></label>
							<InputText id="EstadoPartida" class="form-control" @bind-Value="Partida.EstadoPartida"> </InputText>
							<ValidationMessage For="() => Partida.EstadoPartida"></ValidationMessage>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label class="form-label mt-2" for="TurnoJugador"> <strong> Turno Jugador: </strong> </label>
							<InputSelect class="form-control form-select" @bind-Value="Partida.TurnoJugadorId">
								<option> Seleccione un jugador </option>
								@foreach (var jugador in ListaJugadores)
								{
									<option value="@jugador.JugadorId"> @jugador.Nombres</option>
								}
							</InputSelect>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label class="form-label mt-2" for="FechaInicio"><strong> Fecha Inicio: </strong></label>
							<InputDate id="FechaInicio" class="form-control" @bind-Value="Partida.FechaInicio"> </InputDate>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label class="form-label mt-2" for="FechaFin"><strong> Fecha Fin: </strong></label>
							<InputDate id="FechaFin" class="form-control" @bind-Value="Partida.FechaFin"> </InputDate>
						</div>
					</div>
				</EditForm>
			</div>
		</div>
	</div>
}

else 
{
	<div class="text-center">
		<p> Cargando datos de la partida... </p>
	</div>
}

@code {
	[Parameter]
	public int PartidaId { get; set; }

	public Partidas? Partida { get; set; }

	public List<Jugadores> ListaJugadores = new List<Jugadores>();

	protected override async Task OnInitializedAsync ()
	{
		Partida = await partidasService.Buscar(PartidaId);
		ListaJugadores = await jugadoresService.Listar(j => true);
	}

	public async Task EditarPartida ()
	{
		if (Partida != null)
		{
			if (await partidasService.Guardar(Partida))
			{
				navigationManager.NavigateTo("/Partidas/Index");
			}
		}
	}
}
